*{
    box-sizing: border-box;
}
body{
    background: rgb(236, 211, 177);
    padding: 2%;
}
.content{  
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
    
}
.container img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.preparation{
    background-color: rgba(255, 192, 203, 0.403);
    border-radius: 5px;
    padding: 20px;
}
h3{
    color: brown;
    margin:0px;
}
ul li{
    margin: 5px -20px;
}
ol li{
    margin: 5px -20px;
}
.nutrition p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.item, .amount {
  text-align: left;
  width: 50%;
}

.amount {
  text-align: left;
  width: 50%;
  color: brown;
}
footer{
    background-color: rgba(233, 227, 220, 0.32);
    margin-top: 10px;
}
/* Mobile Styles */
@media (max-width: 375px) {
  body {
    padding: 0;
    margin: 0;
  }
  .content {
    width: 100%;
    max-width: none;
    padding: 10px -5px;
    border-radius: 0;
  }
}

/* Tablet Styles */
@media (min-width: 768px) {
  .content {
    max-width: 600px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .content {
    max-width: 900px;
  }
}

/* Large Desktop Styles */
@media (min-width: 1440px) {
  .content {
    max-width: 1440px;
  }
}